{% extends 'base.html' %}

{% block main %}

<h1 class="title">Create Property</h1>

{% include 'flash_message.html' %}

<form action="{{ url_for('properties') }}" method="POST" enctype="mulpart/form-data">
    {{ form.crsf_token }}
    
    <div class="form-group mb-3">
        {{ form.Title_of_Property.label(class="form-label") }}
        {{ form.Title_of_Property(class="form-control") }}
    </div>

    <div class="form-group mb-3">
        {{ form.Description.label(class="form-label") }}
        {{ form.Description(class="form-control") }}
    </div>

    <div class="form-group mb-3">
        {{ form.Type.label(class="form-label") }}
        {{ form.Type(class="form-control") }}
    </div>

    <div class="form-group mb-3">
        {{ form.Price.label(class="form-label") }}
        {{ form.Price(class="form-control") }}
    </div>

    <div class="form-group mb-3">
        {{ form.Location.label(class="form-label") }}
        {{ form.Location(class="form-control") }}
    </div>

    <div class="form-group mb-3">
        {{ form.Number_of_Bedrooms.label(class="form-label") }}
        {{ form.Number_of_Bedrooms(class="form-control") }}
    </div>

    <div class="form-group mb-3">
        {{ form.Number_of_Bathroos.label(class="form-label") }}
        {{ form.Number_of_Bathrooms(class="form-control") }}
    </div>

    <div>
        {{ form.Photo.label(class="form-label") }}
        {{ form.Photo(class="form-control") }}
    </div>

    <button type="submit" name="submit" class="btn btn-primary">Add Property</button> 
</form>

{% endblock %}